body {
    font-family: Arial, sans-serif;
    background: url('../media/22.jpg') center/cover;
    color: #fff;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Adjust to column layout */
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header {
    margin-bottom: 20px;
    text-align: center; /* Center the text */
}

h1 {
    margin-bottom: 20px; /* Add spacing below the title */
}

#sensorContainer,
#actionButtons,
#userOptions,
#sensorTableContainer {
    margin-top: 20px; /* Add some spacing between sections */
}

#actionButtons,
#userOptions {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center the buttons */
}

#userOptions {
    position: absolute;
    top: 10px;
    right: 10px;
}

#sensorTableContainer {
    width: 80%; /* Adjust the width of the table container */
}

#sensorTable {
    width: 100%; /* Make the table fill the container */
    margin-top: 20px;
    color: #fff; /* Set text color for the table */
}

#sensorTable th,
#sensorTable td {
    padding: 10px;
}

button {
    background-color: #ff4444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#sensorTableContainer {
    max-width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table container */
}

#sensorTable {
    width: 100%;
    margin-top: 20px;
    color: #333; /* Set text color for the table */
    background-color: rgba(255, 255, 255, 0.8); /* Set a subtle white background */
    border-collapse: collapse; /* Collapse borders */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

#sensorTable th,
#sensorTable td {
    padding: 10px;
    border: 1px solid #ddd; /* Add borders to cells */
}

#sensorTable th {
    background-color: rgba(200, 200, 200, 0.8); /* Set a subtle gray background for header cells */
    color: #333; /* Set text color for header cells */
}
@media screen and (max-width: 768px) {
    body {
        height: auto;
    }

    #sensorTableContainer {
        width: 100%;
    }

    #sensorTable {
        background-color: rgba(255, 255, 255, 0.8);
        color: #333;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-collapse: collapse;
    }

    #sensorTable th,
    #sensorTable td {
        border: 1px solid #ddd;
    }

    #sensorTable th {
        background-color: rgba(200, 200, 200, 0.8);
        color: #333;
    }
}